.character-header-area {
  position: relative;
  width: 100vw;
  text-align: center;
  margin: 20px;
}

.header-title {
  color: #fff;
}

#return-arrow {
  position: absolute;
  color: white;
  left: 0;
}

#return-arrow:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media only screen and (max-width: 400px) {
  .header-title {
    font-size: 1.3rem;
  }
  #return-arrow {
    width: 2rem;
    height: 2rem;
  }
}
